.forum_Main{
  width:100%;
  overflow: hidden;
  background: url("../../images/login2.jpg") repeat-y;
  //height:1000px;
  .forumBox{
    width: 1000px;
    //height:1000px;
    margin:0 auto;
    overflow: hidden;
    padding: 181px 0 126px;
    .forum_lf{
      width:185px;
      float: left;
      .forum_Ul{
        width:100%;
        li{
          width:173px;
          height:62px;
          border: 6px solid rgba(136,105,75,.25);
          font-size: 14px;
          color: #886d4b;
          padding: 5px 0 0 18px;
          box-sizing: border-box;
          margin-bottom: 12px;
          cursor: pointer;
        }
        li:nth-child(4){
          height: 84px;
        }
        .froum_select{
          border:0;
          background:url("../../images/xian.jpg") no-repeat 18px 16px rgba(136,105,75,.8);
          color: #ffffff;
          font-weight: bold;
          padding: 11px 0 0 24px;
        }
      }
    }
    .displayB{
      display: block !important;
    }
    .forum_rf{
      width:700px;
      float: right;
      padding-bottom: 30px;
      display: none;
      margin-top: 16px;
      .forum_rf_list{
        overflow: hidden;
        margin-bottom: 20px;
        .forum_rf_list_theme{
          font-size: 18px;
          color: #ffffff;
          line-height: 18px;
          padding-left: 12px;
          background: url("../../images/xianTo.jpg") no-repeat left center;
          font-weight: bold;
          margin-bottom: 12px;
        }
        .forum_rf_list_introduce{
          font-size: 14px;
          color: #ffffff;
          text-align: justify;
          line-height: 36px;
          margin-left: 10px;
          border-bottom: 1px solid rgba(136,105,75,1);
          span{
            padding-right: 10px;
          }
        }
        .noBorder{border-bottom: none !important;}
        .forum_rf_list_ul{
          width:100%;
          li{
            width:190px;
            overflow: hidden;
            float: left;
            margin:13px 65px 20px  0;
            .images{
              width:190px;
              height:253px;
              float: left;
              background: url("../../images/Bj.jpg") no-repeat center;
              position: relative;
              img{
                width:180px;
                height:253px;
                margin-left: 5px;
              }

              .label{
                position: absolute;
                width: 132px;
                height:28px;
                line-height: 28px;
                text-align: center;
                font-size: 14px;
                color: #ffffff;
                font-weight: bold;
                left:50%;
                bottom:16px;
                transform: translate(-50%, 0);
                background: rgba(136,109,75,.5);
              }
            }
            .theme{
              width:100%;
              text-align: center;
              float: left;
              margin-top: 14px;
              p:nth-child(1){
                font-size: 14px;
                color: #ffffff;
                font-weight: bold;
              }
              p{
                font-size: 12px;
                color: #ffffff;
                line-height: 20px;
              }
            }
          }
          li:nth-child(3n){
            margin:13px 0 20px  0;
          }
        }
        .compere{
          width: 100%;
          margin-top: 29px;
          overflow: hidden;
          .compereBox{
            width:169px;
            height:225px;
            background: url("../../images/Bj.jpg") no-repeat center;
            background-size: 169px 210px;
            img{
              width:161px;
              height:225px;
              display: block;
              margin-left: 4px;
            }
            float: left;
          }
          .compere_introduce{
            width:530px;
            float: left;
            margin-top: 52px;
            padding-left: 17px;
            box-sizing: border-box;
            p{
              color: #ffffff;
              font-size: 16px;
              font-weight: bold;
              line-height: 32px;
            }
            p:nth-child(2){
              font-size: 14px;
              line-height: 38px;
              font-weight: 100;
              text-align: justify;
            }
          }
          .compere_introduce_dv1{
            width:100%;
            font-size: 14px;
            line-height: 38px;
            text-align: justify;
            color: #ffffff;
            overflow: hidden;
          }
        }
      }
    }
  }
}
.rfBox{
  overflow: hidden;
  padding-bottom: 20px;
}