input,button,textarea{
  outline: medium;
}

.login_main{
  width: 100%;
  height:897px;
  background: url("../../images/login.jpg") no-repeat center;
  background-size: 100% 100%;
  overflow: hidden;
  //.mian_img{
  //  position: absolute;
  //  top:0;
  //  left:0;
  //  width: 100%;
  //  height:100%;
  //}
  .H338{
    height: 338px !important;
    top:52% !important;
    transform: translate(-50%,-50%)!important;
  }
  .H260{
    height: 260px !important;
  }
  .displayNo{
    display: none;
  }
  .one_p{
    opacity: 1 !important;
  }
  .login{
    width:889px;
    height:604px;
    border: 10px solid #000000;
    position: absolute;
    top: 202px;
    left: 50%;
    transform: translate(-50%,-0%);
    z-index: 100;
    .login_nei{
      background-color:rgba(255,255,255,.8) ;
      width: 100%;
      height:100%;
      .lo_ul{
        width: 363px;
        height: 534px;
        float: left;
        border-right: 4px solid #1a1a1a;
        margin-top: 36px;
        padding-left: 92px;
        box-sizing: border-box;
        li{
          height:40px;
          line-height: 40px;
          font-size: 16px;
          color: #ffffff;
          padding-left: 17px;
          box-sizing: border-box;
          background: url("../../images/xian.jpg")no-repeat 10px center #000000;
          cursor: pointer;
          margin-bottom: 31px;
        }
        li.on{
          font-weight: bold;
        }
        li:nth-child(1){
          width:81px;
        }
        li:nth-child(2){
          width:122px;
        }
        li:nth-child(3){
          width:162px;
        }
        li:nth-child(4){
          width:198px;
        }
      }
      .lo_dv{
        width:526px;
        height:283px;
        float: left;
        margin-top: 36px;
        padding-left: 99px;
        box-sizing: border-box;
        .lo_input{
          width:320px;
          height:38px;
          border: 5px solid #000000;
          margin-bottom: 18px;
          position: relative;
          p{
            float: left;
            font-size: 16px;
            line-height: 38px;
            color: #000000;
            padding: 0 18px 0 19px;
            box-sizing: border-box;
            background: url("../../images/xianTo.png") no-repeat right center;
            opacity: .6;
          }
          .p1{
            display: block;
            float: left;
            width:150px;
            height:38px;
            line-height: 38px;
            padding: 0 0 0 19px;
            box-sizing: border-box;
            font-size: 14px;
            color: #000000;
            opacity: .4;
            background:inherit;
          }
          .p2{
            display: block;
            float: right;
            width:78px;
            height:38px;
            line-height: 38px;
            box-sizing: border-box;
            font-size: 14px;
            color: #000000;
            background:inherit;
            text-align: center;
            padding: 0;
            opacity: 1;
          }
          .filepath{
            width:78px;
            height:38px;
            opacity: 0;
            position: absolute;
            right:0;
            top:0;
          }
          input{
            display: block;
            float: left;
            width:232px;
            height:38px;
            line-height: 38px;
            padding: 0 19px;
            box-sizing: border-box;
            background-color: inherit;
            border:0;
            font-size: 14px;
          }
          textarea{
            display: block;
            float: left;
            width:232px;
            height:58px;
            padding: 9px 19px 0;
            box-sizing: border-box;
            background-color: inherit;
            border:0;
            font-size: 14px;
            resize:none;
          }
          .code{
            width:150px;
          }
          .btn1{
            float: right;
            width:79px;
            height:38px;
            display: block;
            text-align: center;
            line-height: 38px;
            color: #ffffff;
            background-color: #363636;
            margin-right: -1px;
            cursor: pointer;
            font-size: 12px;
            border: 0;
          }

        //  第一步报错
          .p9{
            font-size: 12px;
            color: #000000;
            float: right;
            background:url("../../images/icon4.jpg") no-repeat left center;
            line-height: 12px;
            background-size: 10px 10px;
            padding-left: 14px !important;
            padding-right: 0 !important;
            margin-top: 8px;
            margin-right: -5px;
            opacity: 1 !important;
            display: none;
          }
        }
        .p3{
          font-size: 12px;
          color: #000000;
          margin-bottom: 8px;
        }
        //第一步Btn
        .oneBtn{
          width:328px !important;
          background-color: #000000 !important;
          color: #ffffff !important;
          margin-top: 12px;
        }


        .btn3,.btn4{
          width:140px;
          height:40px;
          text-align: center;
          line-height: 40px;
          font-size: 16px;
          border: 0;
        }
        .btn3{
          background-color: #848484;
          color: #9a9a9a;
          float: left;
        }
        .btn4{
          background-color: #404041;
          color: #8b8b8b;
          float: left;
          margin-left:48px;
          font-weight: bold;
        }
        .on1{
          background-color: #333333;
          color: #ffffff;
        }
        .on2{
          background-color: #000000;
          color: #ffffff;
        }
        .span1{
          width: 49px;
          font-size: 12px;
          color: #000000;
          display: block;
          clear: both;
          padding: 4px 13px 0 0;
          background: url("../../images/jiant.png")no-repeat right 9px;
          margin-left: 266px;
          cursor: pointer;
        }
        .lo_input:nth-child(1){
          p{
            padding: 0 19px;
          }
        }
        .lo_input:nth-child(3){
          p{
            padding: 0 9px 0 14px;
          }
        }
        .lo_input:nth-child(4){
          p{
            padding: 0 9px 0 14px;
          }
        }
        .lo_input:nth-child(6){
          height:58px;

          p{
            padding: 0 9px 0 14px;
          }
        }
        .lo_input:nth-child(7){
          margin-bottom: 8px;
        }
        .remember{
          width:330px;
          overflow: hidden;
          p{
            float: left;
            cursor: pointer;
            em{
              width:8px;
              height:8px;
              border: 2px solid #000000;
              display: block;
              float: left;
            }
            em.lei{
              background-color: #000000;
            }
            span{
              display: block;
              float: left;
              font-size: 12px;
              color: #000000;
              line-height: 12px;
              margin-left: 6px;
            }
          }
          a{
            float: right;
            font-size: 12px;
            line-height: 12px;
            color: #000000;
          }
        }
        .btn2{
          width:330px;
          height:40px;
          display: block;
          background-color: #000000;
          text-align: center;
          line-height: 40px;
          font-size: 18px;
          color: #ffffff;
          font-weight: bold;
          border:0;
          margin-top: 15px;
        }
        .wrong{
          font-size: 12px;
          width:330px;
          text-align: center;
          margin-top: 4px;
          background: url("../../images/icon4.jpg")no-repeat 24px center;
        }
      }
    }
    .forget{
      background-color:rgba(255,255,255,.94) ;
      width: 100%;
      height:100%;
      position: absolute;
      top: 0;
      display: none;
      .for_main{
        width:355px;
        height:130px;
        background-color: #000000;
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        padding: 26px 57px 0;
        box-sizing: border-box;
        display: none;
        p{
          font-size: 12px ;
          line-height: 12px;
          color: #ffffff;
          text-align: center;
          padding-bottom: 9px;
        }
        .kuais{
          width:12px;
          height:2px;
          display: block;
          margin:0 auto;
          background-color: #ff0000;
        }
        button{
          width:71px;
          height:17px;
          line-height: 17px;
          text-align: center;
          //color: #ffffff;
          border:0;
          font-size: 12px;
          margin-top: 9px;
        }
        .btn6{
          background-color: #333333;
          color: #ffffff;
          opacity: .6;
          float: left;
        }
        .btn7{
          background-color: #fefefe;
          color: #000000;
          float: right;
        }
      }

      .for_zhao{
        width:355px;
        height:130px;
        background-color: #000000;
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        padding: 26px 57px 0;
        box-sizing: border-box;
        display: none;
        p{
          font-size: 12px ;
          line-height: 12px;
          color: #ffffff;
          text-align: center;
          padding-bottom: 9px;
        }
        .kuais{
          width:12px;
          height:2px;
          display: block;
          margin:0 auto 9px;
          background-color: #ff0000;
        }
        em{
          width:8px;
          height:8px;
          display: block;
          background: url("../../images/cuo.png")no-repeat center;
          position: absolute;
          top:8px;
          right:9px;
          cursor: pointer;
        }
      }
      .disp{
        display: none;
      }

    }
  }

}
.foodTo{}
