$breakpoints: (
        'lgs': 'only screen and ( max-width: 1440px)',
        'lg': 'only screen and ( min-width:1441px)',
) !default;
@mixin respond-to($breakpoint) {
  $query: map-get($breakpoints, $breakpoint);

  @if not $query {
    @error 'No value found for `#{$breakpoint}`. Please make sure it is defined in `$breakpoints` map.';
  }

  @media #{if(type-of($query) == 'string', unquote($query), inspect($query))} {
    @content;
  }
}
/*头部*/
.overflow{
  overflow: hidden;
}
.title{
  width: 100%;
  height: 105px;

  background: rgba(0,0,0,.9);
  border-bottom: 2px solid #910000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  .title_main{
    width: 1184px;
    height: 105px;
    margin: 0 auto;
    .logo{
      width:170px;
      height:45px;
      float: left;
      padding: 30px 0 0 0;
      cursor: pointer;
    }
    .nav{
      position: relative;
      .ti_ul{
        float: left;
        //height: 127px;
        margin-left: 22px;
        //overflow: hidden;
        position: relative;
        li.li_a{
          height: 107px;
          float: left;
          //padding-bottom: 100px;
          a.li_aTo{
            height: 107px;
            line-height: 105px;
            display: block;
            width:114px;
            text-align: center;
            font-size: 14px;
            color: #886d4b;
            font-weight: bold;
            background: url("../../images/nav_xian.jpg") no-repeat right center;
          }
          .ti_ulTo{
            position: absolute;
            float: left;
            //top: 128px;
            padding-top: 20px;
            z-index: 100;
            width:114px;
            text-align: center;
            opacity: 0;
            li{
              line-height: 16px;
              padding-bottom: 8px;
            }
            li a{
              font-size: 12px;
              color: #886d4b;
              transition: all 0.3s ease-in 0s;
              font-weight: bold;
            }
          }
          .ti_ulTo li a:hover{
            color: #910000;
          }
        }
        //li.li_a:nth-child(1){
        //  .ti_ulTo{
        //    padding-left: 34px;
        //  }
        //}
        //li.li_a:nth-child(2){
        //  .ti_ulTo{
        //    padding-left: 35px;
        //  }
        //}
        li.li_a:nth-child(3){
          .ti_ulTo{
            li{
              padding: 0 10px;
              margin-bottom: 8px;
            }
          }
        }
        //li.li_a:nth-child(4){
        //  .ti_ulTo{
        //    width: 99px;
        //    padding-left: 34px;
        //  }
        //}
        li.li_a:nth-child(5){
          .ti_ulTo{
            li{
             padding: 0 10px 8px;
            }
          }
        }
        li.li_a:nth-child(6){
          .ti_ulTo{
            li{
              padding: 0 16px 8px;
            }
          }
        }
        .li_a:last-child{
          .li_aTo{
            background: inherit;
          }
        }
        //li.li_a:nth-child(7){
        //  .ti_ulTo{
        //    padding-left: 35px;
        //  }
        //}
        //li.li_a:nth-child(8){
        //  .ti_ulTo{
        //    padding-left: 35px;
        //  }
        //}
      }
    }

    .ti_login{
      float: right;
      height: 107px;
      line-height: 107px;
      a{
        float: left;
        font-size: 12px;
        color: #886d4b;
        font-weight: bold;
        padding: 0 7px;
      }
      p{
        float: left;
        color: #886d4b;
        margin-top: -2px;
        font-size: 14px;
      }
    }
  }
  .nav_back{
    width: 100%;
    height: 461px;
    background: url("../../images/navBj.png") no-repeat center;
    background-size: 100% 461px;
    position: absolute;
    top: 107px;
    left: 0;
    //display: none;
    opacity: 0;
  }
}

/*底部*/
.food{
  width: 100%;
  height: 247px;
  background: url("../../images/foodBj.jpg") repeat-x center;

  .food_main{
    width: 1000px;
    margin: 0 auto;
    .nei{
      width: 525px;
      p{
        opacity: .85;
      }
      .nei_pa{
        font-size: 14px;
        line-height: 14px;
        font-weight: bold;
        color: #fff;
        opacity: 0.85;
        margin-top: 58px;
        padding-bottom: 7px;
        border-bottom: 1px solid #fff;
      }
      .nei_pb,.nei_pc{
        font-size: 12px;
        color: #fff;
        line-height: 12px;
        span{
          font-weight: bold;
        }
      }
      .nei_pb{
        margin: 19px 0 14px;
      }
      .nei_pc{
        padding-bottom: 18px;
        border-bottom: 1px solid #fff;
      }
      .nei_pd{
        font-size: 12px;
        color: #fff;
        margin-top: 18px;
      }
    }

    .neiTo{
      width: 381px;
      .nei_pa{
        font-size: 12px;
        line-height: 12px;
        font-weight: bold;
        color: #fff;
        //opacity: 0.5;
        margin-top: 58px;
        padding-bottom: 8px;
        border-bottom: 1px solid #fff;
      }
      .nei_pb,.nei_pc{
        font-size: 12px;
        color: #fff;
        line-height: 12px;
        span{
          font-weight: bold;
        }
      }
      .nei_pb{
        margin: 19px 0 14px;
      }
      .nei_pc{
        padding-bottom: 14px;

      }
    }
  }
}

/**/
.foodTo{
  width: 100%;
  height:63px;
  background-color: #000000;
  position: absolute;
  bottom: 0;
  border-top:2px solid #910000;
  p{
    text-align: center;
    line-height: 63px;
    font-size: 12px;
    color: #8a755d;
    opacity: 0.6;
  }
}

.foodToa{
  width: 100%;
  height:63px;
  background-color: #000000;
  border-top:2px solid #910000;
  p{
    text-align: center;
    line-height: 63px;
    font-size: 12px;
    color: #8a755d;
    opacity: 0.6;
  }
}

.foodB{
  width:100%;
  height:124px;
  border-top:2px solid #910000;
  background: rgba(136,105,75,.25);
  //position: absolute;
  //bottom:0;
  margin-top: -126px;
  p{
    text-align: center;
    line-height: 124px;
    font-size: 12px;
    color: #fff;
    opacity: 0.6;
  }
}
@include respond-to(lgs) {
  .right_isoll{
    right: 10%;
  }
}
@include respond-to(lg) {
  .right_isoll{
    right: 20%;
  }
}
/*侧边微信滚动栏*/
.right_isoll{
  width: 30px;
  position: fixed;
  z-index: 103;
  bottom: 72px;
  //right: 0;
  li{
    width: 30px;
    height: 30px;
    margin-bottom: 6px;
    cursor: pointer;
    position: relative;
    img{
      width: 30px;
      height: 30px;
    }
    .pup{
      width: 153px;
      height: 142px;
      background: url("../../images/wex.png")no-repeat center;
      position: absolute;
      right: 30px;
      top: -56px;
      transition: all 0.3s ease-in 0s;
      //display: none;
      opacity: 0;
      .wxImg{
        width: 127px;
        height: 127px;
        margin: 8px 0 0 8px;
      }
    }
  }
  .Img1{
    display: none;
  }
}
