.Imgs {
  width: 100%;
  height: 650px; }
.Imgs .swiper-container {
  width: 100%;
  height: 650px;
  border-bottom: 2px solid #910000; }
.Imgs .swiper-container img {
  height: 650px; }
.Imgs .swiper-button-next, .Imgs .swiper-button-prev {
  width: 23px;
  height: 28px;
  transition: all 0.3s ease-in 0s;
  top: 61%; }
.Imgs .swiper-button-next {
  background: url("../../images/right.png") no-repeat left center;
  background-size: 15px 28px;
  right: 78px; }
.Imgs .swiper-button-prev {
  background: url("../../images/left.png") no-repeat right center;
  background-size: 15px 28px;
  left: 78px; }
.Imgs .swiper-button-prev::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 1px;
  top: 13px;
  background-color: rgba(255, 255, 255, 0.2);
  left: -5px;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }
.Imgs .swiper-button-next::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 1px;
  top: 13px;
  background-color: rgba(255, 255, 255, 0.2);
  right: -5px;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }
.Imgs .swiper-button-next:hover {
  background: url("../../images/righthover.png") no-repeat right center;
  background-size: 15px 28px; }
.Imgs .swiper-button-next:hover::after {
  content: "";
  width: 12px;
  height: 2px;
  background-color: #fe2642;
  right: 12px;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }
.Imgs .swiper-button-prev:hover {
  background: url("../../images/lefthover.png") no-repeat left center;
  background-size: 15px 28px; }
.Imgs .swiper-button-prev:hover::after {
  content: "";
  width: 12px;
  height: 2px;
  background-color: #fe2642;
  left: 12px;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }
.Imgs .swiper-container-horizontal > .swiper-pagination-bullets, .Imgs .swiper-pagination-custom, .Imgs .swiper-pagination-fraction {
  bottom: 15px; }
.Imgs .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: #a3a6b2;
  opacity: 1;
  border-radius: inherit; }
.Imgs .swiper-pagination-bullet-active {
  background-color: #8a755d; }
.Imgs .swiper-slide img {
  display: block; }
.news_box{
  width:100%;
  height: 905px;
  background: url("../../images/xinwenBj.jpg") repeat-x center;
}
.news {
  width: 1000px;
  display: block;
  margin: 0 auto;
  height:905px;
}
.news .news_title {
  width: 93px;
  height: 42px;
  display: block;
  background: url("../../images/news.png") no-repeat left;
  overflow: hidden;
  padding: 34px 0 20px;
}
.news .news_main {
  width: 998px;
  height: 727px;
  overflow: hidden;
}
.news .news_main .news_ul {
  overflow: hidden;
  height:413px;
  background: url("../../images/newsListback.png") no-repeat bottom;
}
.news .news_main .news_ul li {
  width: 474px;
  float: left;
  cursor: pointer;
  margin-left:11px;
  box-sizing: border-box;
}
.news .news_main .news_ul li:nth-child(2){
  margin-left: 27px;
}
.news .news_main .news_ul li img.news_img {
  display: block;
  overflow: hidden;
  width: 474px;
  height: 298px; }
.news .news_main .news_ul li .li_m {
  width: 474px;
  overflow: hidden;

}
.li_contentLf{
  float: left;
  margin-top: 32px;
  padding-left: 11px;
}
.li_contentLf p {
  color: #886d4b;
}
.li_contentLf p:nth-child(1){
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
}
.li_contentLf p:nth-child(2){
  margin-top: 11px;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
}

.li_contentRf{
  float: right;
  margin-top: 63px;
  padding-right: 11px;
}
.li_contentRf p {
  color: #886d4b;
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
  float: right;

}
.news_ul_To{
  width:998px;
  margin:28px auto 0;
}

.news_ul_To li{
  width:312px;
  height:278px;
  border:4px solid #886d4b;
  float: left;
  position: relative;
  margin-right: 19px;
  cursor: pointer;
}
.news_ul_To li:last-child{
  margin-right: 0;
}
.news_ul_To li .newsLitBox{
  width:313px;
  height:201px;
  overflow: hidden;
  position: absolute;
  top:50%;
  transform: translate(0,-50%);
}
.news_ul_To li .newsLitBox .popu{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(136,109,75,.5);
  padding-top: 64px;
  box-sizing: border-box;
}
.news_ul_To li .newsLitBox .popu p{
  color: #ffffff;
  text-align: center;
}
.news_ul_To li .newsLitBox .popu p.popu_pa{
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}
.news_ul_To li .newsLitBox .popu p.popu_pb{
  font-size: 12px;
  margin-top: 24px;
}
.news .news_main .fen {
  position: absolute;
  width: 29px;
  height: 204px;
  top: 329px;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, 0%); }

.enterprise {
  width: 100%;
  height: 407px;
  background: url("../../images/xinwenBjTo.jpg") repeat-x center;
  border-bottom: 2px solid #910000;
}
.enterprise .enterprise_titlea {
  width: 988px;
  height: 46px;
  margin: 0 auto;
  background: url("../../images/enterprise.png") no-repeat left center;
}
.enterprise .ent_main {
  width: 1000px;
  height: 143px;
  margin: 0 auto;
  /*padding-top: 51px;*/
  overflow: hidden;
  position: relative; }
.enterprise .ent_main .swiper-button-next, .enterprise .ent_main .swiper-button-prev {
  width: 8px;
  height: 12px;
  transition: all 0.3s ease-in 0s; }
.enterprise .ent_main .swiper-button-prev, .enterprise .ent_main .swiper-button-next {
  margin-top: 0;
  top: 66px; }
.enterprise .ent_main .swiper-button-next {
  background: url("../../images/right1.png") no-repeat center;
  right: 27px; }
.enterprise .ent_main .swiper-button-prev {
  background: url("../../images/left1.png") no-repeat center;
  left: 27px; }
.enterprise .ent_main .swiper-container1 {
  width: 848px;
  height: 143px;
  overflow: hidden;
  margin-left: 75px; }
.enterprise .ent_main .swiper-slide {
  text-align: center;
  /* Center slide text vertically */
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  img{
    opacity: .7;
  }
}
.enterprise .enterprise_titleb {
  width: 988px;
  height: 44px;
  margin: 0 auto;
  background: url("../../images/enterpriseTo.png") no-repeat left center }
.enterprise .ent_mainb {
  width: 1000px;
  height: 163px;
  margin: 0 auto;
  overflow: hidden;
  position: relative; }
.enterprise .ent_mainb .swiper-button-next, .enterprise .ent_mainb .swiper-button-prev {
  width: 8px;
  height: 12px;
  transition: all 0.3s ease-in 0s; }
.enterprise .ent_mainb .swiper-button-prev, .enterprise .ent_mainb .swiper-button-next {
  margin-top: 0;
  top: 76px; }
.enterprise .ent_mainb .swiper-button-next {
  background: url("../../images/right1.png") no-repeat center;
  right: 27px; }
.enterprise .ent_mainb .swiper-button-prev {
  background: url("../../images/left1.png") no-repeat center;
  left: 27px; }
.enterprise .ent_mainb .swiper-container2 {
  width: 848px;
  height: 163px;
  overflow: hidden;
  margin-left: 75px; }
.enterprise .ent_mainb .swiper-slide {
  text-align: center;
  /* Center slide text vertically */
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  img{
    opacity: .7;
  }
}
