input,button{
  outline: medium;
}
.login_main{
  width: 100%;
  //height:894px;
  //background: url("../../images/login.jpg") no-repeat center;
  background-size: 100% 100%;
  overflow: hidden;
  .mian_img{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
  }
  .login{
    width:889px;
    height:338px;
    border: 10px solid #000000;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index: 100;
    .login_nei{
      background-color:rgba(255,255,255,.8) ;
      width: 100%;
      height:100%;
      .lo_ul{
        width: 363px;
        height: 260px;
        float: left;
        border-right: 4px solid #1a1a1a;
        margin-top: 36px;
        padding-left: 92px;
        box-sizing: border-box;
        li{
          height:40px;
          line-height: 40px;
          font-size: 16px;
          color: #ffffff;
          padding-left: 17px;
          box-sizing: border-box;
          background: url("../../images/xian.jpg")no-repeat 10px center #000000;
          cursor: pointer;
          margin-bottom: 31px;
        }
        li.on{
          font-weight: bold;
        }
        li:nth-child(1){
          width:81px;
        }
        li:nth-child(2){
          width:122px;
        }
        li:nth-child(3){
          width:162px;
        }
        li:nth-child(4){
          width:198px;
        }
      }
      .lo_dv{
        width:526px;
        height:283px;
        float: left;
        margin-top: 36px;
        padding-left: 99px;
        box-sizing: border-box;
        .lo_input{
          width:320px;
          height:38px;
          border: 5px solid #000000;
          margin-bottom: 18px;
          p{
            float: left;
            font-size: 16px;
            line-height: 38px;
            color: #000000;
            padding: 0 18px 0 19px;
            box-sizing: border-box;
            background: url("../../images/xianTo.png") no-repeat right center;
          }
          input{
            display: block;
            float: left;
            width:232px;
            height:38px;
            line-height: 38px;
            padding: 0 19px;
            box-sizing: border-box;
            background-color: inherit;
            border:0;
            font-size: 14px;
          }
          .code{
            width:150px;
          }
          .btn1{
            float: right;
            width:79px;
            height:38px;
            display: block;
            text-align: center;
            line-height: 38px;
            color: #ffffff;
            background-color: #363636;
            margin-right: -1px;
            cursor: pointer;
            font-size: 12px;
            border: 0;
          }
        }
        .lo_input:nth-child(3){
          margin-bottom: 15px;
        }
        .remember{
          width:330px;
          overflow: hidden;
          p{
            float: left;
            cursor: pointer;
            em{
              width:8px;
              height:8px;
              border: 2px solid #000000;
              display: block;
              float: left;
            }
            em.lei{
              background-color: #000000;
            }
            span{
              display: block;
              float: left;
              font-size: 12px;
              color: #000000;
              line-height: 12px;
              margin-left: 6px;
            }
          }
          a{
            float: right;
            font-size: 12px;
            line-height: 12px;
            color: #000000;
          }
        }
        .btn2{
          width:330px;
          height:40px;
          display: block;
          background-color: #000000;
          text-align: center;
          line-height: 40px;
          font-size: 18px;
          color: #ffffff;
          font-weight: bold;
          border:0;
          margin-top: 15px;
        }
        .wrong{
          font-size: 12px;
          width:330px;
          text-align: center;
          margin-top: 4px;
          background: url("../../images/icon4.jpg")no-repeat 24px center;
        }
      }
    }
    .forget{
      background-color:rgba(255,255,255,.94) ;
      width: 100%;
      height:100%;
      position: absolute;
      top: 0;
      display: none;
      .for_main{
        width:355px;
        height:165px;
        background-color: #000000;
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        padding: 32px 56px 0;
        box-sizing: border-box;
        display: none;
        p{
          font-size: 14px;
          color: #fffefe;
          line-height: 24px;
        }
        .btn3{
          width:177px;
          height:21px;
          line-height: 21px;
          text-align: center;
          font-size: 14px;
          color: #000000;
          font-weight: bold;
          display: block;
          margin:16px auto 6px;
          border:0;
        }
        a{
          text-align: center;
          display: block;
          color: #ffffff;
          font-size: 12px;
          opacity: .6;
        }
      }

      .for_zhao{
        width:355px;
        height:165px;
        background-color: #000000;
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        padding: 28px 53px 0;
        box-sizing: border-box;
        display: none;
        p{
          font-size: 14px;
          color: #fffefe;
          line-height: 24px;
        }
        .btn3{
          width:177px;
          height:21px;
          line-height: 21px;
          text-align: center;
          font-size: 14px;
          color: #000000;
          font-weight: bold;
          display: block;
          margin:16px auto 6px;
          border:0;
        }
        a{
          text-align: center;
          display: block;
          color: #ffffff;
          font-size: 12px;
          opacity: .6;
        }
        .for_input{
          width: 100%;
          height:25px;
          border:2px solid #ffffff;
          margin-bottom: 17px;
          p{
            width:65px;
            font-size: 14px;
            color: #ffffff;
            text-align: center;
            line-height: 25px;
            font-weight: bold;
            float: left;
            background: url("../../images/xian1.jpg") no-repeat right center;
          }
          input{
            width:181px;
            height:25px;
            float: right;
            padding: 0 10px;
            box-sizing: border-box;
            line-height: 25px;
            font-size: 12px;
            color: #ffffff;
            background-color: inherit;
            border:0;
          }
          .Yzinput{
            width:111px;
            float: left;
          }
          .btn5{
            width:73px;
            height:23px;
            line-height: 25px;
            background-color: #000000;
            //border-left: 2px solid #ffffff;
            border:0;
            font-size: 12px;
            color: #ffffff;
            float: right;
            border-left: 2px solid #ffffff;
            margin-top: 1px;
          }
          input::-webkit-input-placeholder {
            font-size:12px;
            color: #ffffff;
            opacity:.5;
          }
          input:-moz-placeholder {
            font-size:12px;
            color: #ffffff;
            opacity:.5;
          }
          input::-moz-placeholder {
            font-size:12px;
            color: #ffffff;
            opacity:.5;
          }
          input:-ms-input-placeholder {
            font-size:12px;
            color: #ffffff;
            opacity:.5;
          }

        }
      }

      .for_xin{
        width:355px;
        height:165px;
        background-color: #000000;
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        padding: 54px 38px 0;
        box-sizing: border-box;
        display: none;
        .for_input{
          width: 100%;
          height:26px;
          p{
            font-size: 14px;
            color: #ffffff;
            float: left;
            line-height: 26px;
            font-weight: bold;
            margin-right: 19px;
          }
          input{
            width:213px;
            height:26px;
            float: right;
            border:2px solid #ffffff;
            padding: 0 10px;
            box-sizing: border-box;
            line-height: 22px;
            font-size: 12px;
            color: #ffffff;
            background-color: inherit;
          }
          input::-webkit-input-placeholder {
            font-size:12px;
            color: #ffffff;
            opacity:.5;
          }
          input:-moz-placeholder {
            font-size:12px;
            color: #ffffff;
            opacity:.5;
          }
          input::-moz-placeholder {
            font-size:12px;
            color: #ffffff;
            opacity:.5;
          }
          input:-ms-input-placeholder {
            font-size:12px;
            color: #ffffff;
            opacity:.5;
          }

        }
        .btn4{
          width: 100%;
          height:21px;
          line-height: 21px;
          text-align: center;
          font-size: 14px;
          color: #000000;
          font-weight: bold;
          display: block;
          margin: 32px auto 0px;
          border:0;
        }
      }
    }
  }
}
.foodTo{}
