.train_Main{
  width:100%;
  overflow: hidden;
  background: url("../../images/login2.jpg") repeat-y;
  .forumBox {
    width: 953px;
    //height:1000px;
    margin: 0 auto;
    //overflow: hidden;
    padding: 181px 0 126px;
    .forum_lf{
      width:173px;
      float: left;
      .forum_Ul{
        width:100%;
        li{
          width:173px;
          height:53px;
          line-height: 41px;
          border: 6px solid rgba(136,105,75,.25);
          font-size: 14px;
          color: #886d4b;
          padding-left: 33px;
          box-sizing: border-box;
          margin-bottom: 12px;
          cursor: pointer;
        }
        .froum_select{
          border:0;
          background:url("../../images/xian.jpg") no-repeat 26px center rgba(136,105,75,.8);
          color: #ffffff;
          font-weight: bold;
          line-height: 53px;
          //padding: 11px 0 0 24px;
        }
      }
    }
    .displayB{
      display: block !important;
    }
    .forum_rf{
      width:700px;
      float: right;
      padding-bottom: 172px !important;
      display: none;
      margin-top: 16px;
      .openingBox{
        width:100%;
        //overflow: hidden;

        .openingImg{
          width:200px;
          height:265px;
          background: url("../../images/Bj.jpg")no-repeat center;
          background-size: 200px 249px;
          float: left;
          margin-right: 25px;
          img{
            width:190px;
            height:265px;
            margin-left: 5px;
          }
        }
        .projectMain{
          width:470px;
          padding-top: 100px;
          float: left;
          p{
            width:auto;
            height:26px;
            line-height: 26px;
            color: #ffffff;
            background: rgba(136,109,75,.8);
            padding: 0 17px;
            margin-bottom: 8px;
            float: left;
            font-size: 14px;
            span{
              font-weight: bold;
              font-size: 14px;
            }
          }
          p:nth-child(1){
            font-size: 18px;
          }
          p:nth-child(2){
            clear: both;
          }
          p:nth-child(3){
            clear: both;
          }
          p:nth-child(4){
            clear: both;
          }
          p:nth-child(5){
            clear: both;
          }
        }
        .forum_rf_list {
          overflow: hidden;
          padding-bottom: 18px;
          clear: both;
          .forum_rf_list_theme {
            font-size: 18px;
            color: #ffffff;
            line-height: 18px;
            padding-left: 12px;
            background: url("../../images/xianTo.jpg") no-repeat left center;
            font-weight: bold;
            margin-bottom: 12px;

          }
          .forum_rf_list_introduce {
            overflow: hidden;
            font-size: 14px;
            color: #ffffff;
            line-height: 32px;
            p{
              font-size: 14px;
              color: #ffffff;
              text-align: justify;
              line-height: 30px;
              margin-left: 10px;
              box-sizing: border-box;
              margin-bottom: 8px;
            }
          }
          .ent_mainb{
            width: 805px;
            margin-top: 60px;
            margin-left: -48px;
            position: relative;
            display: none;
            .swiper-container2{
              width:700px;
              margin-left: 53px;
              .swiper-slide{
                width:190px;
                height:341px;

              }
              .swiper-slideTo{
                width:190px;
                height:253px;
                background: url("../../images/Bj.jpg") no-repeat center;
                background-size: 190px 237px;
                img{
                  width:180px;
                  height:253px;
                  margin-left: 5px;
                }
              }
              .theme{
                width:100%;
                text-align: center;
                float: left;
                margin-top: 14px;
                p:nth-child(1){
                  font-size: 14px;
                  color: #ffffff;
                  font-weight: bold;
                }
                p{
                  font-size: 12px;
                  color: #ffffff;
                  line-height: 20px;
                }
              }
            }
            .swiper-button-next {
              background: url("../../images/rightTo.png") no-repeat center;
              right: 0; }
            .swiper-button-prev {
              background: url("../../images/leftTo.png") no-repeat center;
              left: 0; }
          }
          .performUl{
            width: 100%;
            margin-top: 30px;
            .performli:nth-child(1){
              margin-top: 0;
            }
            .performli{
              width:100%;
              padding-bottom: 20px;
              border-bottom: 2px solid rgba(136,109,75,.5);
              margin-top: 43px;
              .performImg{
                width:246px;
                height:329px;
                float: left;
                background: url("../../images/Bj.jpg") no-repeat center;
                background-size: 246px 308px;
                margin-right: 27px;
                img{
                  width:236px;
                  height:329px;
                  margin-left: 5px;
                }
              }
              .performRf{
                width:426px;
                margin-top: 10px;
                float: left;
                p{
                  font-size: 14px;
                  line-height: 14px;
                  color: #ffffff;
                  margin-bottom: 7px;
                }
                p:nth-child(1){
                  font-size: 18px;
                  line-height: 18px;
                  margin:25px 0 20px;
                  color: #886d4b;
                  font-weight: bold;
                }
                p:nth-child(3){
                  margin-bottom: 19px;
                }
                p:nth-child(5){
                  margin-bottom: 19px;
                }
                p:nth-child(7){
                  margin-bottom: 19px;
                }
                p:nth-child(11){
                  line-height: 16px;
                }
              }
              .performRfTo{
                width:426px;
                margin-top: 16px;
                float: left;
                .xians{
                  height:14px;
                  line-height: 14px;
                  span:first-child{
                    width:326px;
                    height:2px;
                    display: block;
                    float: left;
                    background: rgba(136,109,75,.5);
                    margin-top: 6px;
                  }
                  span:last-child{
                    font-size: 14px;
                    color: #886d4b;
                    display: block;
                    float: right;
                    cursor: pointer;
                  }
                }
                p{
                  font-size: 14px;
                  line-height: 14px;
                  color: #ffffff;
                  margin-bottom: 14px;
                }
                p.Pa{
                  font-size: 18px;
                  line-height: 18px;
                  margin:10px 0 16px;
                  color: #886d4b;
                  font-weight: bold;
                  span{
                    font-size: 26px;
                  }
                }
                p:nth-child(5){
                  //margin-bottom: 26px;
                }

              }
              .performUlTo{
                width:100%;
                height:42px;
                background: url("../../images/liTo.png") no-repeat right center;
                clear: both;
                margin-top: 28px;
                float: left;
                li{
                  height:42px;
                  font-size: 16px;
                  color: rgba(255,255,255,.5);
                  font-weight: bold;
                  margin-right: 46px;
                  float: left;
                  cursor: pointer;
                }
                li.liToselect{
                  color: #886d4b;
                }
              }

              .performUlTos{
                width:100%;
                height:32px;
                background: url("../../images/liTos.png") no-repeat right center;
                background-size: 315px 2px;
                clear: both;
                margin-top: 28px;
                float: left;
                li{
                  height:32px;
                  line-height: 32px;
                  font-size: 16px;
                  color: rgba(255,255,255,.5);
                  font-weight: bold;
                  margin-right: 32px;
                  float: left;
                  cursor: pointer;
                }
                li.liToselect{
                  color: #886d4b;
                }
              }
              .performUlTo_Main{
                width: 100%;
                overflow: hidden;
                padding-top: 12px;
                .performUlTo1{
                  overflow: hidden;
                  display: none;
                  p{
                    font-size: 14px;
                    color: #ffffff;
                    line-height: 26px;
                    padding-bottom: 8px;
                  }
                }
              }
            }
          }
        }
      }
      .page{
        height:20px;
        line-height: 20px;
        margin-left: 390px;
        p{
          float: left;
          font-size: 16px;
          color: #886d4b;
          margin-right: 28px;
          cursor: pointer;
        }
        .pageSlect{
          font-weight: bold;
        }
        P:last-child{
          margin-right: 0;
          font-weight: bold;
        }
        P:first-child{
          font-weight: bold;
        }
      }
    }
  }
}
.rfBoxTo{
  //overflow: hidden;
  .forum_rfTo{
    width: auto !important;

    .forum_rf_list{
      width: 700px;
      float: right;
    }
    .forum_rf_list:nth-child(2){
      width:  770px;
      margin-right: -70px;
      padding-left: 60px;
    }
  }
}
.swiper-button-next, .swiper-button-prev{
  top:124px;
}
.performUlTo1_ul{
  overflow: hidden;
  li{
    width:103px;
    height:146px;
    border:6px solid #6e593e;
    margin-right: 30px;
    float: left;
    cursor: pointer;
    img{
      width:103px;
      height:146px;
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      filter: grayscale(100%);
      filter: gray;
    }
  }
  li:hover img{
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -o-filter: grayscale(0);
    filter: grayscale(0);
    filter: none;
  }
  li:last-child{
    margin-right: 0;
  }
}
.apply{
  overflow: hidden;
}
//institution
.institution{
  overflow: hidden;
  margin-top: 40px;
  img{
    width:585px;
    height:138px;
    display: block;
  }
}
.forum_rf_list_theme_ul{width:100%;float:left;}.forum_rf_list_theme_ul li{float:left; height:61px;line-height: 61px;font-size: 16px;color: rgba(255,255,255,.5);font-weight: 700;margin-right: 46px;cursor: pointer}.forum_rf_list_theme_ul li.theme_liToselect{color: #886d4b;}