input,button,textarea{
  outline: medium;
}

.disps{
  display: none;
}
.Noborder{
  border:0 !important;
  margin-bottom: 28px !important;
  p{
    font-weight: bold;
    font-size: 16px;
    color: #000000;
  }
  input::-webkit-input-placeholder { /* WebKit browsers */
    font-size:16px;
    color: #000000;
  }
  input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size:16px;
    color: #000000;
  }
  input::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size:16px;
    color: #000000;
  }
  input:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-size:16px;
    color: #000000;
  }


  textarea::-webkit-input-placeholder { /* WebKit browsers */
    font-size:16px;
    color: #000000;
  }
  textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size:16px;
    color: #000000;
  }
  textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size:16px;
    color: #000000;
  }
  textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-size:16px;
    color: #000000;
  }
}
.login_main{
  width: 100%;
  height:897px;
  background: url("../../images/bj1.jpg") no-repeat center;
  background-size: 100% 100%;
  overflow: hidden;
  //.mian_img{
  //  position: absolute;
  //  top:0;
  //  left:0;
  //  width: 100%;
  //  height:100%;
  //}
  .login{
    width:890px;
    height:518px;
    border: 10px solid #000000;
    position: absolute;
    top: 244px;
    left: 50%;
    transform: translate(-50%,-0%);
    z-index: 100;
    .login_nei{
      background-color:rgba(255,255,255,.8) ;
      width: 100%;
      height:100%;
      padding: 56px 72px 43px 74px;
      box-sizing: border-box;
      .Gr_title{
        width: 100%;
        height:51px;
        border-bottom: 4px solid #000000;
        padding: 0 30px;
        box-sizing: border-box;
        .grlf{
          width:122px;
          height:40px;
          font-size: 16px;
          color: #886d4b;
          float: left;
          line-height: 40px;
          padding-left: 16px;
          box-sizing: border-box;
          background: url("../../images/xian_hover.jpg")no-repeat 10px center #000000;
          font-weight: bold;
        }
        .grrf{
          float: right;
          font-size: 16px;
          line-height: 16px;
          color: #000000;
          font-weight: bold;
          margin-top: 24px;
        }
      }
      .gr_main{
        width: 100%;
        padding: 27px 29px 0;
        box-sizing: border-box;
        overflow: hidden;
        .lo_input{
          width:320px;
          height:38px;
          border: 5px solid #000000;
          margin-bottom: 17px;
          float: left;
          position: relative;
          p{
            width:92px;
            text-align: center;
            float: left;
            font-size: 16px;
            line-height: 38px;
            color: #000000;

            box-sizing: border-box;
            background: url("../../images/xianTo.png") no-repeat right center;
          }
          input{
            display: block;
            float: left;
            width:228px;
            height:38px;
            line-height: 38px;
            padding: 0 19px;
            box-sizing: border-box;
            background-color: inherit;
            border:0;
            font-size: 14px;
          }
          .code{
            width:150px;
          }
          .btn1{
            float: right;
            width:79px;
            height:38px;
            display: block;
            text-align: center;
            line-height: 38px;
            color: #ffffff;
            background-color: #363636;
            margin-right: -1px;
            cursor: pointer;
            font-size: 12px;
            border: 0;
          }
          .p1{
            display: block;
            float: left;
            width:150px;
            height:38px;
            line-height: 38px;
            padding: 0 0 0 21px;
            box-sizing: border-box;
            font-size: 14px;
            color: #000000;
            opacity: .6;
            background:inherit;
            text-align: left;
          }
          .p2{
            display: block;
            float: right;
            width:78px;
            height:38px;
            line-height: 38px;
            box-sizing: border-box;
            font-size: 14px;
            color: #000000;
            background:inherit;
            text-align: center;
            padding: 0;
            opacity: 1;
          }
          .filepath{
            width:78px;
            height:38px;
            opacity: 0;
            position: absolute;
            right:0;
            top:0;
          }
        }
        .w100{
          width:679px;
          textarea{
            display: block;
            float: left;
            width:587px;
            height:48px;
            padding: 9px 19px 0;
            box-sizing: border-box;
            background-color: inherit;
            border:0;
            font-size: 14px;
            resize:none;
          }
        }
        .btm{
          margin-bottom: 16px;
        }
        .main_pa{
          text-align: center;
          font-size: 12px;
          line-height: 12px;
          clear: both;
          color: #000000;
        }
        .disno{
          display: none;
        }
        .btnbox1{
          width:327px;
          height:40px;
          overflow: hidden;
          margin: 26px auto 0;
          button{
            width:140px;
            height:40px;
            border:0;
            text-align: center;
            line-height: 40px;
            font-size: 16px;
            color: #ffffff;
          }
          .btnle{
            float: left;
            background-color: #333333;
          }
          .btnrf{
            float: right;
            background-color: #000000;
            font-weight: bold;
          }
        }
        .btnbox2{
          width:140px;
          height:40px;
          overflow: hidden;
          margin: 26px auto 0;
          button{
            width:140px;
            height:40px;
            border:0;
            text-align: center;
            line-height: 40px;
            font-size: 16px;
            color: #ffffff;
          }
          .btnlco{
            background-color: #000000;
            font-weight: bold;
          }

        }
        .lo_input:nth-child(2n){
          float: right;
        }
      }
    }
    .forget{
      background-color:rgba(255,255,255,.94) ;
      width: 100%;
      height:100%;
      position: absolute;
      top: 0;
      left:0;
      display: none;
      .for_main{
        width:355px;
        height:130px;
        background-color: #000000;
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        padding: 26px 57px 0;
        box-sizing: border-box;
        display: none;
        p{
          font-size: 12px ;
          line-height: 12px;
          color: #ffffff;
          text-align: center;
          padding-bottom: 9px;
        }
        .kuais{
          width:12px;
          height:2px;
          display: block;
          margin:0 auto;
          background-color: #ff0000;
        }
        button{
          width:71px;
          height:17px;
          line-height: 17px;
          text-align: center;
          //color: #ffffff;
          border:0;
          font-size: 12px;
          margin-top: 9px;
        }
        .btn6{
          background-color: #333333;
          color: #ffffff;
          opacity: .6;
          float: left;
        }
        .btn7{
          background-color: #fefefe;
          color: #000000;
          float: right;
        }
      }

      .for_zhao{
        width:355px;
        height:130px;
        background-color: #000000;
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        padding: 26px 57px 0;
        box-sizing: border-box;
        display: none;
        p{
          font-size: 12px ;
          line-height: 12px;
          color: #ffffff;
          text-align: center;
          padding-bottom: 9px;
        }
        .kuais{
          width:12px;
          height:2px;
          display: block;
          margin:0 auto 9px;
          background-color: #ff0000;
        }
        em{
          width:8px;
          height:8px;
          display: block;
          background: url("../../images/cuo.png")no-repeat center;
          position: absolute;
          top:8px;
          right:9px;
          cursor: pointer;
        }
      }
      .disp{
        display: none;
      }

    }
  }
  .write{
    .Block{
      display: block !important;
      .for_main{
        display: block !important;
      }
    }
    .forget{
      background-color:rgba(255,255,255,.94) ;
      width: 100%;
      height:100%;
      position: absolute;
      top: 0;
      left:0;
      //display: none;
      .for_main{
        width:355px;
        height:130px;
        background-color: #000000;
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        padding: 26px 57px 0;
        box-sizing: border-box;
        //display: none;
        p{
          font-size: 12px ;
          line-height: 12px;
          color: #ffffff;
          text-align: center;
          padding-bottom: 9px;
        }
        .kuais{
          width:12px;
          height:2px;
          display: block;
          margin:0 auto;
          background-color: #ff0000;
        }
        button{
          width:71px;
          height:17px;
          line-height: 17px;
          text-align: center;
          //color: #ffffff;
          border:0;
          font-size: 12px;
          margin-top: 9px;
        }
        .btn6{
          background-color: #333333;
          color: #ffffff;
          opacity: .6;
          float: left;
        }
        .btn7{
          background-color: #fefefe;
          color: #000000;
          float: right;
        }
      }
    }
  }
}
.foodTo{}
